{% extends 'base.html' %}

{% block title %}Sign in |{% endblock title %}

{% block content %}
<div class="bg-secondary w-[80vw] sm:w-[60vw] lg:w-[40vw] xl:w-[30vw] mx-auto py-5 sm:py-14 px-5 sm:px-10 rounded-3xl" hx-boost="true">
    <span class="text-center">
        <h2 class="text-3xl font-extrabold mb-5">User Login</h2>
        <p class="text-md font-normal mb-5">Hey, Enter your credentials to get sign in to your account</p>
    </span>
    <form action="" 
        hx-post="{% url 'signin_view' %}"
        hx-target="form"
        hx-swap="outerHTML"
        hx-select="form"
        class="flex flex-col space-y-5 py-10">
        <input type="email" name="email" placeholder="Enter Email" id="email" class="text-sm border-active-dimmed border-2 rounded-xl block w-full p-3 placeholder-gray-600 hover:cursor-text disabled:cursor-not-allowed disabled:text-gray-60">
        <input type="password" name="password" placeholder="Enter Password" id="password" class="text-sm border-active-dimmed border-2 rounded-xl block w-full p-3 placeholder-gray-600 hover:cursor-text disabled:cursor-not-allowed disabled:text-gray-60">
        <button type="submit" class="bg-accent font-bold text-lg w-full py-3 my-auto rounded-2xl hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer">Sign in</button>
    </form>
    <p class="text-center">Don't have an account?
        <a href="{% url 'signup_view' %}" class="text-accent font-bold text-lg">
            Sign up now!
        </a>
    </p>
</div>
{% endblock content %}

{% block additional_javascript %}{% endblock additional_javascript %}
