@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      /* For rgb(255 115 179 / <alpha-value>) */
      --color-primary: 246 242 235;
      --color-secondary: 254 254 254;
      --color-accent: 254 200 135;
      --color-accent-secondary: 255 216 135;
      --color-active-dimmed: 230 232 234;
      --color-action-success: 106 202 174;
      --color-action-warning: 255 204 0;
      --color-action-danger: 254 116 124;
      --color-text-primary: 8 18 38;
      --color-text-dimmed: 137 137 137;
      --color-text-minor: 202 202 202;
    }
  }

  [x-cloak] { display: none !important; }

  .invalid-feedback {
      display: none;
  }
  .invalid-feedback.show {
      color: red;
      display: block;
  }
  
  /* .theme-light {
      --text: #080703;
      --text-secondary: #201c0b;
      --text-minor: #545454;
      --text-light: #f0f0f0;
      --text-dark: #080703;
      --background: #fafafa;
      --background-secondary: #ececec;
      --primary: #85b03b;
      --secondary: #bac0e8;
      --secondary-dark: #959aba;
      --accent: #5d36a1;
  }
  .theme-dark {
      --text: #fcf7f7;
      --text-secondary: #dfdfdf;
      --text-minor: #bdbdbd;
      --text-light: #f0f0f0;
      --text-dark: #080703;
      --background: #2e2c54;
      --background-secondary: #242247;
      --primary: #85b03b;
      --secondary: #393760;
      --secondary-dark: #4d4b70;
      --accent: #8871e6;
  } */
  body {
      font-family: 'Exo 2', sans-serif;
  }
  
  .error-message {
      color:red;
    }
  input.validation-error {
      box-shadow: 0 0 3px #CC0000;
  }
  input.valid {
      box-shadow: 0 0 3px #36cc00;
  }
  [x-cloak] { display: none !important; }
  
  /* colors permanent for messages */
  .border-action-success {
      --tw-border-opacity: 1;
      border-color: rgb(var(--color-action-success) / var(--tw-border-opacity));
  }
  .border-action-warning {
      --tw-border-opacity: 1;
      border-color: rgb(var(--color-action-warning) / var(--tw-border-opacity));
  }
  .border-action-danger {
      --tw-border-opacity: 1;
      border-color: rgb(var(--color-action-danger) / var(--tw-border-opacity));
  }
  .text-action-success {
      --tw-text-opacity: 1;
      color: rgb(var(--color-action-success) / var(--tw-text-opacity));
  }
  .text-action-warning {
      --tw-text-opacity: 1;
      color: rgb(var(--color-action-warning) / var(--tw-text-opacity));
  }
  .text-action-danger {
      --tw-text-opacity: 1;
      color: rgb(var(--color-action-danger) / var(--tw-text-opacity));
  }
  