@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      /* For rgb(255 115 179 / <alpha-value>) */
      --color-primary: 246 242 235;
      --color-secondary: 254 254 254;
      --color-accent: 254 200 135;
      --color-accent-secondary: 255 216 135;
      --color-active-dimmed: 230 232 234;
      --color-action-success: 106 202 174;
      --color-action-danger: 254 116 124;
      --color-text-primary: 8 18 38;
      --color-text-dimmed: 137 137 137;
      --color-text-minor: 202 202 202;
    }
  }