{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %} Store Admin
    </title>

    <script src="{% static 'js/alpine.min.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block additional_head_links %}{% endblock additional_head_links %}
    <style>
        .fadeout {
            animation: 0.3s fadeout;
        }
        @keyframes fadeout {
            from {opacity: 1;}
            to {opacity: 0;}
        }
    </style>
    {% block additional_css %}{% endblock additional_css %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-primary"
    hx-on:messages="console.log('messages event in htmx', event.detail.value); event.detail.value.forEach((message) => {createToast(message)}); removeAllToasts();">

    <nav class=" bg-primary border-gray-200"
        x-data="{ showMenu: false }"
        x-init="showMenu = window.innerWidth > 768"
        x-on:resize.window="window.innerWidth > 768 ? showMenu = true : showMenu = false">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <span>
                <h1 hx-get="{% url 'home_view' %}" hx-swap="outerHTML" hx-push-url="true" hx-target="body" class="text-3xl font-black pb-5 border-accent border-b-2 hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer">StoreDash</h1>
                <a href="emailto:sales@storedash.com" class="pt-2 flex hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer">
                    <p class="pt-2">sales@storedash.com</p>
                    <svg class="w-10 h-10" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#000000" d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5Z"/>
                        <path fill="#000000" d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71c.2-.2.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z"/>
                    </svg>
                </a>
            </span>
            <button type="button"
                class="bg-accent inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-xl md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false"
                x-on:click="showMenu = ! showMenu">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="w-full md:block md:w-auto"
                x-show="showMenu"
                x-transition
                x-cloak
                hx-boost="true"
                hx-push-url="true">
                <ul class="font-medium flex flex-col p-4 md:p-0 rounded-xl bg-secondary md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-primary">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900  rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'home_view' %}">Home</a>
                        </li>
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900  rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'store_view' %}">Store</a>
                        </li>
                        {% if user.is_superuser %}
                            <li>
                                <a class="block py-2 pl-3 pr-4 text-gray-900  rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'admin:index' %}">Admin</a>
                            </li>    
                        {% endif %}
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900 rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'profile_view' %}">Profile</a>
                        </li>
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900 rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'signout_view' %}">Sign out</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900 rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'signin_view' %}">Sign in</a>
                        </li>
                        <li>
                            <a class="block py-2 pl-3 pr-4 text-gray-900 rounded-xl hover:bg-accent hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer" href="{% url 'signup_view' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="p-5">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="px-[3vw] text-sm text-[--text-minor] w-full pt-10 pb-5">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 items-center">
            <span class="grid justify-center grid-flow-col gap-1">
                Design/Development: 
                <a target="_blank" class="text-[--accent]" href="https://oleksandrdev.com">oleksandrdev.com</a>
            </span>
            <span class="grid grid-flow-col justify-center gap-1">
                Github Repo: 
                <a target="_blank" class="text-[--accent]" href="https://github.com/olksndrdevhub/store-dash">store-dash</a>
            </span>
            <span class="grid justify-center">
                Copyright © 2023
            </span>
        </div>
    </footer>

    {% include "toasts.html" %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script>
        htmx.config.useTemplateFragments = true;
    </script>
    <script src="{% static 'toasts.js' %}"></script>
    {% block additional_javascript %}{% endblock additional_javascript %}
</body>
</html>