<span class="flex justify-between">
    <h1 class="text-3xl font-extrabold">Create New Order</h1>
    <button type="reset"
        x-on:click="showCreateForm = ! showCreateForm"
        class="bg-transparent border border-gray-800 text-gray-600 hover:text-white hover:bg-gray-600 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
</span>
<!-- template for order items, placed outside of the form -->
<div class="flex items-end relative gap-2 text-left" style="display: none;" data-order-item-component-template>
    <div class="w-full relative">
        <label for="products_search-" class="block mb-2 text-sm font-medium text-gray-900 ">Select Product</label>
        <input type="text" name="products_search" placeholder="Start typing..." id="products_search-"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        hx-get="{% url 'hx_search_items' %}"
        hx-trigger="keyup[this.value.length > 2] changed delay:500ms"
        hx-target="this"
        hx-select="#items-list"
        hx-push-url="false"
        hx-swap="afterend transition:true"
        hx-on:htmx:before-request="let ul = htmx.find(this.parentNode, 'ul'); if (ul != undefined){this.parentNode.removeChild(ul);};">
        {% include 'components/itemsDropdownSearch.html' %}
    </div>
    <div class="w-[25%]">
        <label for="product_price-" class="block mb-2 text-sm font-medium text-gray-900 ">Product price, $</label>
        <input required type="number" step="0.01" min="0" name="product_prices" placeholder="Price" id="product_price-"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
            {% if product_price_error %} border-action-danger {% else %} border-active-dimmed {% endif %}"
        hx-on:keyup="updateCost()"
        x-on:change="updateCost()">
        {% if product_price_error %}
            <span class="text-action-danger">{{ product_price_error }}</span>            
        {% endif %}
    </div>
    <div class="w-[25%]">
        <label for="quantity-" class="block mb-2 text-sm font-medium text-gray-900 ">Quantity</label>
        <input required type="number" min="1" max="1000" name="quantities" placeholder="Quantity" id="quantity-"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
            {% if quantity_error %} border-action-danger {% else %} border-active-dimmed {% endif %}"
        hx-on:keyup="updateCost()"
        x-on:change="updateCost()">
        {% if quantity_error %}
            <span class="text-action-danger">{{ quantity_error }}</span>            
        {% endif %}          
    </div>
    <div class="w-[25%]">
        <label for="cost-" class="block mb-2 text-sm font-medium text-gray-900 ">Cost, $</label>
        <input type="number" step="0.01" min="0" name="cost" placeholder="0.00" id="cost-" disabled
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div class="">
        <button type="button" class="text-gray-800 p-2.5
            rounded-xl hover:cursor-pointer hover:bg-active-dimmed"
            x-on:click="deleteOrderItemComponent($el.closest('[data-order-item-component]'))" title="Remove">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>  
        </button>
    </div>
</div>
<!-- template for the order items -->
<form 
    id="create-order-form"
    hx-post="{% url 'orders_view' %}"
    hx-push-url="true"
    hx-target="#create-order-form"
    hx-select="#create-order-form"
    hx-swap="outerHTML transition:true"
    class="flex flex-col space-y-5 py-10">
    <div class="flex gap-2">
        <div class="w-full relative">
            <label for="client" class="block mb-2 text-sm font-medium text-gray-900 ">Select Client</label>
            <input required type="text" name="clients_search" placeholder="Start typing..." id="clients_search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            hx-get="{% url 'hx_search_items' %}"
            hx-trigger="keyup[this.value.length > 2] changed delay:500ms"
            hx-target="this"
            hx-select="#items-list"
            hx-push-url="false"
            hx-swap="afterend transition:true"
            hx-on:htmx:before-request="let ul = htmx.find(this.parentNode, 'ul'); if (ul != undefined){this.parentNode.removeChild(ul);};">
            {% include 'components/itemsDropdownSearch.html' %}
        </div>
    </div>
    <div class="text-center p-3 border-2 border-active-dimmed rounded-lg">
        <span class="">Add products to the order:</span>
        <div id="orderItemsWrapper">
            <div class="flex items-end relative gap-2 text-left" data-order-item-component id="orderItemComponent-1">
                <div class="w-full relative">
                    <label for="products_search-1" class="block mb-2 text-sm font-medium text-gray-900 ">Select Product</label>
                    <input required type="text" name="products_search" placeholder="Start typing..." id="products_search-1"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    hx-get="{% url 'hx_search_items' %}"
                    hx-trigger="keyup[this.value.length > 2] changed delay:500ms"
                    hx-target="this"
                    hx-select="#items-list"
                    hx-push-url="false"
                    hx-swap="afterend transition:true"
                    hx-on:htmx:before-request="let ul = htmx.find(this.parentNode, 'ul'); if (ul != undefined){this.parentNode.removeChild(ul);};">
                    {% include 'components/itemsDropdownSearch.html' %}
                </div>
                <div class="w-[25%]">
                    <label for="product_price-1" class="block mb-2 text-sm font-medium text-gray-900 ">Product price, $</label>
                    <input required type="number" step="0.01" min="0" name="product_prices" placeholder="Price" id="product_price-1"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                        {% if product_price_error %} border-action-danger {% else %} border-active-dimmed {% endif %}"
                    hx-on:keyup="updateCost()"
                    x-on:change="updateCost()">
                    {% if product_price_error %}
                        <span class="text-action-danger">{{ product_price_error }}</span>            
                    {% endif %}
                </div>
                <div class="w-[25%]">
                    <label for="quantity-1" class="block mb-2 text-sm font-medium text-gray-900 ">Quantity</label>
                    <input required type="number" min="1" max="1000" name="quantities" placeholder="Quantity" id="quantity-1"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                        {% if quantity_error %} border-action-danger {% else %} border-active-dimmed {% endif %}"
                    hx-on:keyup="updateCost()"
                    x-on:change="updateCost()">
                    {% if quantity_error %}
                        <span class="text-action-danger">{{ quantity_error }}</span>            
                    {% endif %}          
                </div>
                <div class="w-[25%]">
                    <label for="cost-1" class="block mb-2 text-sm font-medium text-gray-900 ">Cost, $</label>
                    <input required type="number" step="0.01" min="0" name="costs" placeholder="0.00" id="cost-1" disabled
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="">
                    <button type="button" class="text-gray-800 p-2.5
                        rounded-xl hover:cursor-pointer hover:bg-active-dimmed"
                        x-on:click="deleteOrderItemComponent($el.closest('[data-order-item-component]'))" title="Remove">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>  
                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="mt-2 bg-secondary border-2 border-active-dimmed text-gray-800 text-sm px-3 py-1.5
            my-auto rounded-xl hover:cursor-pointer hover:bg-active-dimmed"
            x-on:click="copyOrderItemComponent()">
            Add another product
        </button>
    </div>
    <div class="flex gap-2">
        <div class="w-full">
            <label for="total_cost" class="block mb-2 text-sm font-medium text-gray-900 ">Total cost, $</label>
            <input type="number" step="0.01" min="0" name="total_cost" placeholder="0.00" id="total_cost" disabled value="{{ submitted_price }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-accent-secondary focus:border-accent-secondary block w-full p-2.5">
        </div>
        <div class="w-full">
            <div class="mx-auto w-fit h-full flex flex-col items-left justify-between">
                <span class="text-sm font-medium text-gray-900">Payment completed?</span>
                <label class="relative inline-flex items-center cursor-pointer mb-3">
                    <input type="checkbox" name="payment_completed" id="payment_completed" class="sr-only peer" title="Payment completed?" value="off"
                    onclick="if(this.checked){ this.value = 'on'; } else { this.value = 'off'; }">
                    <div class="w-11 h-6 bg-gray-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-yellow-500 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-accent-secondary"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="flex gap-2">
        <div class="w-full">
            <label for="address" class="block mb-2 text-sm font-medium text-gray-900 ">Enter delivery address</label>
            <textarea required type="text" name="address" placeholder="Delivery address" id="address"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                {% if address_error %} border-action-danger {% else %} border-active-dimmed {% endif %}">{{ submitted_address }}</textarea>
            {% if address_error %}
                <span class="text-action-danger">{{ address_error }}</span>            
            {% endif %}
        </div>
    </div>
    <div class="flex justify-end">
        <!-- <button type="reset" class="border border-accent px-5 py-2.5
            my-auto rounded-xl hover:origin-top hover:translate-y-[-3px] 
            transition transform duration-200 ease-in-out hover:cursor-pointer"
            x-on:click="showCreateForm = ! showCreateForm">
            Cancel
        </button> -->
        <button type="submit" class="bg-action-success text-white px-5 py-2.5
            my-auto rounded-xl hover:origin-top hover:translate-y-[-3px] 
            transition transform duration-200 ease-in-out hover:cursor-pointer">
            Create
        </button>
    </div>
</form>