{% extends 'base.html' %}
{% load static %}

{% block title %}Products |{% endblock title %}

{% block additional_head_links %}{% endblock additional_head_links %}
{% block additional_css %}{% endblock additional_css %}

{% block content %}
<div class="wrapper flex flex-col w-full xl:w-10/12 mx-auto"
    id="wrapper"
    x-data="{showCreateForm: false}">
    <div id="create-form-spawn" class="bg-secondary p-3 rounded-xl h-fit mb-5"
        x-show="showCreateForm"
        x-transition
        x-cloak>
        {% include 'partials/createProductForm.html' %}
    </div>
    <div class="bg-secondary p-3 rounded-xl h-fit" id="products-container">
        <span class="head mb-5 flex justify-between">
            <h1 class="text-left text-3xl font-extrabold">Products</h1>
            <span class="flex space-x-5 items-center">
                <div>   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" name="search" class="block w-80 max-w-md p-2.5 pl-10 mx-auto text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50" placeholder="Type to search..." required
                            hx-get="{% url 'products_view' %}"
                            hx-push-url="true"
                            hx-trigger="keyup changed delay:500ms, search" 
                            hx-target="#products-table"
                            hx-select="#products-table"
                            hx-swap="outerHTML transition:true"
                            hx-select-oob="table-bottom"
                            hx-indicator="#indicator"
                            {% if search %}
                            value="{{ search }}"
                            {% endif %}>
                    </div>
                </div>
                <span id="indicator" class="bg-green-200 p-2 rounded-xl htmx-indicator">
                    <img class="w-[25px] h-[25px]" src="{% static 'img/spinner.svg' %}"/>
                </span>
            </span>
            
            <a 
                x-on:click="showCreateForm = ! showCreateForm; $nextTick(() => {document.getElementById('create-form-spawn').focus()})"
                class="flex items-center px-5 py-2.5 rounded-xl bg-action-success text-white hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer">
                Create New
                <svg width="24" height="24" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m24.06 10l-.036 28M10 24h28"/>
                </svg>
            </a>
        </span>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="products-table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Product name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            SKU
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Available, pcs
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Color
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Category
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Added
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_item in products %}
                        <tr class="border-b hover:bg-green-50 text-gray-900"
                            id="product-row-{{product_item.id}}">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                {{ product_item.name }}
                            </th>
                            <td class="px-6 py-4">
                                {% if product_item.sku %}
                                    {{ product_item.sku }}
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {{ product_item.available_quantity }}
                            </td>
                            <td class="px-6 py-4">
                                {% if product_item.color %}
                                    {{ product_item.color }}
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {% if product_item.category %}
                                    {{ product_item.category }}
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                ${{ product_item.price }}
                            </td>
                            <td class="px-6 py-4">
                                {{ product_item.created }}
                            </td>
                            <td class="px-6 py-4">
                                <button
                                    hx-get="{% url 'product_item_view' product_item.id %}"
                                    hx-push-url="true"
                                    hx-target="body"
                                    hx-swap="innerHTML transition:true"
                                    hx-on:htmx:before-request="document.cookie = `prevUrl=${window.location.href}`"
                                    class="text-gray-900 rounded-xl text-sm px-4 py-1 bg-gray-100 hover:bg-action-success hover:text-white 
                                        hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out 
                                        hover:cursor-pointe focus:ring-4 focus:outline-none focus:ring-action-success font-medium">
                                    <svg width="24" height="24" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="currentColor" d="M30.94 15.66A16.69 16.69 0 0 0 16 5A16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66a1 1 0 0 0 0-.68ZM16 25c-5.3 0-10.9-3.93-12.93-9C5.1 10.93 10.7 7 16 7s10.9 3.93 12.93 9C26.9 21.07 21.3 25 16 25Z"/>
                                        <path fill="currentColor" d="M16 10a6 6 0 1 0 6 6a6 6 0 0 0-6-6Zm0 10a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="table-bottom" class="flex justify-between items-center min-h-[2rem] mt-3">
            <div id="pagination">
                {% if products.has_other_pages %}
                    <nav aria-label="products navigation" class="flex">
                        <ul class="flex flex-wrap justify-center space-x-2 mx-auto p-1 w-fit rounded-xl bg-gray-50">
                            {% if products.has_previous %}
                                <li class="w-auto flex justify-center py-2 px-4 rounded-xl hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer hover:bg-action-success hover:text-white"
                                    {% if search %}
                                        hx-get="{% url 'products_view' %}?search={{ search }}&page={{ products.previous_page_number }}"
                                    {% else %}
                                        hx-get="{% url 'products_view' %}?page={{ products.previous_page_number }}"
                                    {% endif %}
                                    hx-target="#products-container"
                                    hx-select="#products-container"
                                    hx-swap="outerHTML show:#header:top transition:true"
                                    hx-push-url="true"
                                    hx-indicator="#indicator"
                                    >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                                    </svg>                              
                                </li>
                            {% else %}
                                <li class="w-auto flex justify-center py-2 px-4 rounded-xl text-gray-400 hover:cursor-default">
                                    <span class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                                        </svg>  
                                    </span>
                                </li>
                            {% endif %}
                            {% for i in page_range|default_if_none:products.paginator.get_elided_page_range %}
                                {% if i == products.paginator.ELLIPSIS %}
                                    <li class="w-auto flex justify-center py-2 px-4 rounded-xl text-gray-400 hover:cursor-default" aria-current="page">
                                        <span class="">{{ i }}</span>
                                    </li>
                                {% else %}
                                    {% if products.number == i %}
                                        <li class="w-auto flex justify-center py-2 px-4 rounded-xl text-gray-900 bg-green-200 hover:cursor-default" aria-current="page">
                                            <span class="">{{ i }}</span>
                                        </li>
                                    {% else %}
                                        <li class="w-auto flex justify-center py-2 px-4 rounded-xl bg-[--secondary] hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer hover:bg-action-success hover:text-white"
                                            {% if search %}
                                                hx-get="{% url 'products_view' %}?search={{ search }}&page={{ i }}"
                                            {% else %}
                                                hx-get="{% url 'products_view' %}?page={{ i }}"
                                            {% endif %}
                                            hx-target="#products-container"
                                            hx-select="#products-container"
                                            hx-swap="outerHTML show:#header:top transition:true"
                                            hx-push-url="true"
                                            hx-indicator="#indicator"
                                            >
                                            {{ i }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <li class="w-auto flex justify-center py-2 px-4 rounded-xl bg-[--secondary] hover:origin-top hover:translate-y-[-3px] transition transform duration-200 ease-in-out hover:cursor-pointer hover:bg-action-success hover:text-white"
                                    {% if search %}
                                        hx-get="{% url 'products_view' %}?search={{ search }}&page={{ products.next_page_number }}"
                                    {% else %}
                                        hx-get="{% url 'products_view' %}?page={{ products.next_page_number }}"
                                    {% endif %}
                                    hx-target="#products-container"
                                    hx-select="#products-container"
                                    hx-swap="outerHTML show:#header:top transition:true"
                                    hx-push-url="true"
                                    hx-indicator="#indicator"
                                    >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                    </svg>  
                                </li>
                            {% else %}
                                <li class="w-auto flex justify-center sm:ml-3 py-2 px-4 rounded-xl text-[--text-minor] hover:cursor-default">
                                    <span class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                        </svg>  
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <span class="text-sm text-gray-400">Total: {{ products.paginator.count }} items</span>
        </div>

    </div>
</div>
{% endblock content %}

{% block additional_javascript %}
{% endblock additional_javascript %}